* { 
	margin: 0;
	padding: 0; 
	box-sizing: border-box; 
}
body { 
	font: 13px 'Lato', Helvetica, Arial; 
	overflow:hidden;
	margin:auto;
	width:800px;
	position:relative;
}
form { 
	background: #eee; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 800px; 
	input { 
		border: 0; 
		padding: 10px; 
		width: 90%; 
		margin-right: .5%; 
	}
	button { 
		width: 9%; 
		background: #B23232;
		border: none; 
		padding: 10px 1%; 
	}
}
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow:scroll;
	position:fixed;
	height:auto;
	width:800px;
	li { 
		padding: 5px 10px; 
		background-color:#eee;
		border-radius:18px;
		border:1px solid black;
		width:auto;
		max-width:75%;
		overflow-wrap: break-word;	
		float:left;
		display:block;
		clear:both;
	}
	li.self {
		float:right;
		background-color: #cb5858;
	}
	ul.typingMessage {
		width:100%;
		li{ float:left; }
	}
	.hidden{
		display:none;
	}
}
@media only screen 
and (max-width : 800px)
and (min-device-width : 481px) {
	body {
		width:100%;
	}
	form {
		width:100%;
	}
	#messages{
		width:100%;
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	* {
		font-size:1.6em;
		/* this should be it, but it doesn't work well 
		font-size:16px;
		*/
	}
	body {
		width:100%;
	}
	#messages {
		width:100%;
		ul.typingMessage {
			width:auto;
			text-align:center;
			li{ 
				width:auto;
				max-width:90%;
				margin:auto;
				margin-right:20%;
				text-align:center;
				display:block;
			}
			li.self{
				margin-left:20%;
			}
		}
		li{ 
			width:auto;
			max-width:90%;
			margin:.4%;
		}
	}
	form {
		* {
			height:100%;
			width:100%;
		}
		width:100%;
		bottom:0;
		height:auto;
		min-height:5%;
		input {
			width:79%;
		}
		button {
			width:20%;
		}
	}
}

