* {
	font-family:'Lato','Ubuntu', sans-serif;
	font-weight:300;
}
body {
	height:100%;
	width: 100%;
	margin: auto;
}
.status-display {
	background-image: url('/images/bridge_open.JPG');
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 20px;
	border-radius: 3px;
}
#status {
	height: 100%; 
	width: 100%;
	background-color: rgba(0,0,0,.2);
	color: #EEE;
	font-size: 5em;
	border-radius: 3px;
	-webkit-transition: color 0.5s;
		transition: color 0.5s;
	-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
}
.links {
	margin: auto;
	width: 208px;
	position: absolute;
	/*
	-webkit-transition: top 0.5s;
		transition: top 0.5s;
	*/
}
.links div {
	border:1px solid #666;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	width: 39px;
	cursor: pointer;
	text-align: center;
	padding: 5px;
	margin: 3px 8px;
	font-size: 2em;
}
.links div.active,
.links div:hover {
	padding: 8px;
	margin: 0 5px;
	color: #222;
	border-color: #222;
}
.more-info {
	margin: 80px auto;
	padding: 10px;
/*
	-webkit-transition: top 0.5s;
		transition: top 0.5s;
*/
}
.links.inPic {
	bottom: 40px;
	background-color: rgba(0,0,0,.5);
	padding: 12px;
	border-radius: 3px;
}
.links.inPic div{
	color: #DDD;
	border-color: #DDD;
}
#status.moreInfoOverlay {
	background-color: rgba(255,255,255,.85);
	color: #666;
}
.links.moreInfoOverlay {
	top: 9em;
}
.more-info.moreInfoOverlay {
	top: 12em;
	position: absolute;
	margin: 20px;
}
