* {
	font-family:'Lato','Ubuntu', sans-serif;
	font-weight:300;
}
body {
	height:100%;
	max-width: 1200px;
	margin: auto;
}
.status-display {
	
}
.links {
	margin: auto;
	width: 118px;
/*
	padding: 0 50%;
	position: absolute;
	bottom: 10px;
*/
}
.links div {
	border:1px solid black;
	display: inline-flex;
	width: 15px;
	cursor: pointer;
	text-align: center;
	padding: 5px;
	margin: 5px;
}
.links div:hover {
	padding: 7px;
	margin: 3px;
}
