* {
	font-family:'Lato','Ubuntu', sans-serif;
	font-weight:300;
}
body {
	height:100%;
	width: 100%;
	max-width: 900px;
	margin: auto;
	position: absolute;
}
.status-display {
	background-image: url('/images/bridge_open.JPG');
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 20px;
	border-radius: 3px;
}
#status {
	height: 100%; 
	width: 100%;
	background-color: rgba(0,0,0,.2);
	color: #EEE;
	font-size: 5em;
	border-radius: 3px;
	-webkit-transition: color 0.5s;
		transition: color 0.5s;
	-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
}
.links {
	margin: auto;
	width: 208px;
	position:relative;
	-webkit-transition: top 0.5s;
		transition: top 0.5s;
}
.links div {
	border:1px solid #666;
	border-radius: 2px;
	color: #666;
	display: inline-block;
	width: 39px;
	cursor: pointer;
	text-align: center;
	padding: 5px;
	margin: 8px;
	font-size: 2em;
}
.links div.active,
.links div:hover {
	padding: 8px;
	margin: 5px;
	color: #222;
	border-color: #222;
}
.more-info {
	margin: 20px auto;
	position: relative;
	bottom: 0;
	display: inline-block;
	-webkit-transition: top 0.5s;
		transition: top 0.5s;
}
#status.moreInfoOverlay {
	background-color: rgba(255,255,255,.85);
	color: #666;
}
.links.moreInfoOverlay {
	top: -275px;
}
.more-info.moreInfoOverlay {
	top: -275px;
}
